_.log
.cache
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.idea
*.dll
*.exe
*.lcov
*.log
*.tgz
*.tsbuildinfo
coverage
dist
dist-jsr
dist-libs
dist-npm
dist-web
dist-tmp
logs
node_modules
out
relinter-test-*.ts
relinter.json
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
start-runtime
tests-runtime
/__*
