_.log
.cache
.DS_Store
.env
.eslintcache
.idea
*.dll
*.exe
*.lcov
*.log
*.tgz
*.tsbuildinfo
/__*
/target
coverage
dist
dist-jsr
dist-libs
dist-npm
dist-tmp
dist-web
logs
node_modules
out
pack-input
pack-output
relinter-test-*.ts
relinter.json
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
start-runtime
tests-runtime
Thumbs.db
